@import '../../../assets/stylesheets/index.scss'; 

.profile-tab{
    height: 60px;
    background-color: $primary-color;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 0 20px;
    width: 95%;
    margin: 0 auto;
}

.profile-tab-items-left{
    height: 100%;
    display: flex;
    justify-self: left;
}

.profile-tab-items-right{
    height: 100%;
    justify-self: right;
    display: flex;

}


.profile-btn{
    button{
        color: white;
        background: transparent;
        height: 70%;
        cursor: pointer;
        border: none;
        font-size: 1.2rem;
        margin: 5px;
        outline: none;
        border-bottom: 2px solid $primary-color;
    }

    .num-icon{
        background: #fff;
        border-radius: 50%;
        color: $primary-color;
        padding: 5px;
    }
    margin: auto 5px;
}

.profile-btn-active{
    button{
        color: white;
        background: transparent;
        height: 70%;
        cursor: pointer;
        border: none;
        font-size: 1.2rem;
        margin: 5px;
        outline: none;
        border-bottom: 2px solid #fff;
    }

    .num-icon{
        background: #fff;
        border-radius: 50%;
        color: $primary-color;
        padding: 5px;
    }
    margin: auto 5px;
}


