@import "../../../assets/stylesheets/index.scss";

.section {
  height: 300px;
  margin: 10px;
}

.social-sharing { 
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 220px;

  .twitter-share, .facebook-share, .bookmark, .like {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    color: #0e71eb;
    font-size: 25px;
  }

  .like {
    display: flex;
    justify-content: center;

    p {
      padding: 8px 3px;
      font-size: 13px;
      color: #000;
    }

    i {
      padding: 3px;
    }
  }
}

.article-page {
  margin: 20px;
  .edit-comment-margin {
    margin-top: 40px;
  }
  .write-comment {
    -webkit-animation: fadeIn ease 0.2s;
    animation: fadeIn ease 0.2s;
    position: relative;
    .comment-text-wrap {
      display: flex;
      flex-direction: row;
      border: 1px solid #c4c4c4;
      padding: 10px;
      align-items: flex-end;
      border-radius: 5px;
      box-shadow: 0 2px 8px #00000038;
      .wrap-img-text {
        flex-grow: 2;
        display: flex;
        .image {
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-origin: border-box;
          }
        }
        textarea {
          flex-grow: 2;
          border: none;
          height: 100px;
          outline: none;
          margin: 10px;
          font-size: 16px;
          color: #3f3d56;
          word-wrap: break-word;
          word-break: break-all;
          resize: none;
        }
      }
      .sub-form-cont {
        position: absolute;
        bottom: 3px;
        right: 0;
      }
      .close {
        background: none;
        border: none;
        color: #000;
        font-size: 14px;
        font-weight: 400;
        margin-right: 10px;
      }
      .submit-comment {
        color: #fff;
        background: #0e71eb;
        margin: 0;
        border: none;
        height: 35px;
        border-radius: 5px;
        cursor: pointer;
        opacity: 0.85;
        outline: none;
      }
      .submit-comment:hover {
        background: #0072ff;
        transition: 0.3s;
        opacity: 1;
      }
      .wrap-guide {
        position: absolute;
        bottom: 0;
        font-size: 13px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #6d6d6d;
        .input-guide, .input-guide-enter {
          display: flex;
          align-items: center;
        }
        .space {
          margin: 0 10px;
          color: #b7b1b1;
        }
        img {
          width: 12px;
          height: 12px;
          margin: 0 2px;
        }
      }
    }
  }
  // comment card
  .comment-cont {
    h3 {
      text-align: left;
      margin-bottom: 30px;
    }

    .comments-cont-text-content {
      margin-top: 40px;
      width: 100%;
      border: 1px solid #c4c4c4;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 5px #0000008c;
      position: relative;
      .wrap-image-author {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .image-author {
          display: flex;
          align-items: flex-start;
          .commenter-img {
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-position: center;
              background-size: cover;
              background-origin: border-box;
            }
          }
          .commenter-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 12px;
            h3 {
              margin: 0;
            }
          }
        }
        .comment-menu {
          box-shadow: 0 0 3px #bababc;
          border-radius: 5px;
          text-align: center;
          position: absolute;
          bottom: 35px;
          right: -35px;
          background: #ffffff;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          padding: 8px;
          button {
            padding: 5px 3px;
            cursor: pointer;
            margin: 0;
            border-radius: 2px;
            font-size: 12px;
          }
          button:hover {
            background: rgb(32, 32, 32);
            color: #fff;
            transition: 0.2s;
          }
        }
        button {
          background: none;
          border: none;
          cursor: pointer;
          outline: none;
          i.fas.fa-ellipsis-v {
            font-size: 20px;
            color: #969696;
            cursor: pointer;
            opacity: 0.7;
          }
          i.fas.fa-ellipsis-v:hover {
            opacity: 1;
            transition: 0.3s;
          }
        }
      }
      .commenter-text {
        width: 95%;
        margin: 12px;
        p {
          text-align: justify;
          overflow-wrap: break-word;
          color: #000;
        }
      }
      .commt-details {
        display: flex;
        margin-left: 30px;
        align-items: center;
        margin-bottom: 10px;
        .last-upd {
          margin: 0;
          color: #979797;
        }
        span {
          margin: 0 10px;
          color: #979797;
        }
        .edited-comm {
          margin: 0;
          cursor: pointer;
        }
        .edited-comm:hover {
          margin: 0;
          text-decoration: underline;
        }
        .reply {
          cursor: pointer;
          padding: 0;
          font-size: 14px;
          color: #979797;
          background: transparent;
          border: none;
          outline: none;
        }
        .reply:hover {
          color: #0e71eb;
          transition: 0.2s
        }
      }
      .hide-replies {
        display: flex;
        align-items: center;
        width: 50%;
        margin: 10px 30px;
        .line {
          border: 1px solid #c3c3c3;
          margin: 0;
          width: 30%;
        }
        button {
          margin-left: 15px;
          cursor: pointer;
          font-weight: 600;
          background: transparent;
          border: none;
          outline: none;
        }
        button:hover {
          color: #0e71eb;
          transition: 0.2s
        }
      }
      .history-body {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 15px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-position: center;
          background-size: cover;
          background-origin: border-box;
        }
        .author-details-wrap {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          justify-content: flex-start;
          .author {
            display: flex;
            flex-direction: row;
            margin-left: 10px;
            align-items: flex-start;
            justify-content: flex-start;
            background: #0e71eb0a;
            color: #000;
            border-radius: 50px;
            padding: 10px;
            .auth-name {
              font-weight: 600;
              margin: 0;
              text-shadow: 0 0 0 #000;
              text-align: left;
            }
            .comment {
              text-align: left;
              word-break: break-all;
              padding: 0 10px;
            }
          }
          .time {
            display: flex;
            justify-content: flex-start;
            margin: 5px 10px;
          }
        }
      }
    }
    // nested replies
    .response {
      width: 92%;
      margin: 25px 50px;
      -webkit-animation: fadeIn ease 0.5s;
      animation: fadeIn ease 0.5s;
    }
  }
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.section{
    height: auto;
    margin: 10px;
}

.article-page{
    margin: 20px;
}

.article-container{
    overflow: unset;

    .article-title{
        text-transform: capitalize;
    }

    .btn-follow {
        background: $primary-color;
        text-transform: capitalize;
        padding: 5px 10px;
        border-radius: 5px;
        border: solid 1px #fff;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
      }
  
      .btn-follow:hover{
        background: #fff;
        color: $primary-color;
        border: solid 1px $primary-color;
      }


    .checked{
        color: $primary-color;
      }
    .article-datail-footer{
        display: flex;
        justify-content: space-between;
    }

    .article-author-detail-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .article-author-details{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        width: 400px;
        margin: 10px 0;
        align-items: center;
        justify-items: center;

        .article-avatar img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid lightgrey;
            grid-column: 1/2;
        }

        .article-avatar{
            align-self: center;
            justify-self: start;

        }

        .article-datail{
            grid-column: 2/3;
            display: flex;
            flex-direction: column;
            align-self: center;
            width: 100%;

            .aticle-detail-author-name{
              font-weight: bold;
            }
        }


        .article-datail p{
            margin: 0;
        }

        .article-btn-follow{
            grid-column: 3/4;
        }

    }

    .article-rating-star{
        justify-self: center;
        align-self: center;
    }

    .article-image-container{
        height: 300px;
        width: 100%;
        margin: 0 auto;
    }

    .article-image-container img{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        object-fit: cover;

    }

    .article-body-container{
        margin: 20px auto;
    }
}

.rate-article {
  margin: 15px 0;
  padding: 5px 0;
  display: flex;
  justify-content: flex-end;
  font-size: 17px;

  .rate {
    margin: 0;
    padding: 5px 10px;
    border-right: solid 1px #eee;
  }

  .comment {
    display: flex;
    margin: 0;
    padding: 3px 10px;
    color: $primary-color;
    border-right: solid 1px #eee;

    p {
      margin: 0 3px;
    }
  }

  .popout {
    margin: 0 10px;
    padding: 9px 0;
    color: #868686;

    .ui.button {
      margin: 0;
      padding: 8px;
      background: #fff;
    }
  }


  .popout-control {
    display: none;
  }

  .popout-control:checked ~ .report-article {
    display: block;
  }

  .report-article {
    display: none;
    position: relative;
    left: 0;
    border: solid 1px $primary-color;

    .ui.button {
      background: #fff;
    }
  }
}

.ui.rating .active.icon {
  color: #0e71eb;
}

.ui.rating .icon.selected {
  color: #fbd400;
}

@media screen and (max-width: 768px) {
  .social-sharing {
    position: inherit;
    flex-direction: inherit;
    margin-top: 0;

    .twitter-share, .facebook-share, .bookmark, .like {
      width: 50px;
      margin: 10px 0;
      text-align: left;
      color: #0e71eb;
      font-size: 25px;
    }

    .like {
      width: 100px;
      justify-content: flex-start;
      i {
        padding: 0;
      }

      p {
        padding: 5px;
      }
    }
  }
}
