@import '../../../assets/stylesheets/index.scss';
.form-wrap {
    height: 75vh;
  }
.ui.form>p{
    text-align: center;
    font-family: $font-stack;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 42px; 
}
form.ui.unstackable.form {
    width: 95%;
    margin: 16px 64px 64px 11px;
    display: flex;
    flex-direction: column;
}
