@import '../../../assets/stylesheets/index.scss'; 

.profile-card{
    border: 1px solid lightgrey;
    text-align: left;
    width: 100%;
    margin: 20px auto;
    padding: 10px 20px;
    overflow: auto;
    border-radius: 4px;
    box-shadow: 0px 5px 6px #c1bfbfbd;
    font-size: 1.2rem;
}

.profile-card-item{
    display: grid;
    grid-template-columns: 1fr 2fr 10px;

    i{
        justify-self: right;
        align-self: center;
    }
}

.editable{
    cursor: pointer;
}


.report-profile-card{
    border: 1px solid lightgrey;
    text-align: left;
    width: 100%;
    margin: 20px auto;
    padding: 10px 20px;
    overflow: auto;
    border-radius: 4px;
    box-shadow: 0px 5px 6px #c1bfbfbd;
    font-size: 1.2rem;

    .ui.button{
        color: #fff;
        background: $primary-color;
    }
}

.report-profile-card-item{
    display: grid;
    grid-template-columns: 100px 2fr;
}

.sgg-profile-card{
    border: 1px solid lightgrey;
    text-align: left;
    width: 100%;
    margin: 20px auto;
    padding: 10px 20px;
    overflow: auto;
    border-radius: 4px;
    box-shadow: 0px 5px 6px #c1bfbfbd;
    font-size: 1.2rem;

    .sgg-footer-item-container{
        margin: auto 5px;
    }

    .sgg-footer{
        display: flex;
        justify-content: space-between;
        margin: 5px auto;

        .ui.button{
            color: #fff;
            background: $primary-color;
        }
    }

    .sgg-footer-item{
        margin: auto 2px;
    }

}
.sgg-rsh-container{
    .main-card{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
}


