.bottom-section {
width: 1440px;
height: 658px;
background-color: #65AAFF;
display: flex;
justify-content: space-around;
padding-top: 227px;
}

.img {
width: 555px;
height: 359px;
background-color: black;
}

.text-container {
width: 555px;
height: 359px;
background-color: red;
}

.text {
font-size: 64px;
font-weight: bold;
text-align: center;
}