.title {
  text-align: center;
  align-items: center;
  width: 80%;
  height: 999px;
  margin: 0 auto;
  top: 50px;
  background: rgba(6, 99, 212, 0.02);
  border-radius: 50%;
  font-weight: bold;
  font-size: 40px;
}

.image {
  background-image: url(https://res.cloudinary.com/dnch08bzc/image/upload/v1556825503/typewriter.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}

hr {
  width: 55%;
}

.desc {
  font-weight: bold;
  font-size: 5vh;
}

.desc:last-child {
  font-weight: normal;
  font-size: 3vh;
}

.typewriter {
  background-image: url(https://res.cloudinary.com/dnch08bzc/image/upload/v1556825503/typewriter.png);
}

.holder {
  position: absolute;
  top: 919px;
  left: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 74px;
  align-items: center;
}
.cards {
  width: 395px;
  height: 484px;
  top: 1050px;
}

.textHeader {
  height: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #535353;
}
.holder div p:nth-child(2) {
color: #000000;
}

#left {
  background-image: url(https://res.cloudinary.com/dnch08bzc/image/upload/v1556821938/dna-163466_960_720.jpg);
}
#middle {
  background-image: url(https://res.cloudinary.com/dnch08bzc/image/upload/v1556822016/ilts-science-chemistry-test_119059_large.jpg);
}

#right {
  background-image: url(https://res.cloudinary.com/dnch08bzc/image/upload/v1556821917/3d-rendering-human-brain-technology-background_34663-72.jpg);
}

.bottom-section {
  border: 1px solid black;
  width: 1440px;
  height: 658px;
  background-color: #65aaff;
  display: flex;
  justify-content: space-around;
  padding-top: 195px;
  margin-top: 300px;
}

.img {
  width: 555px;
  height: 339px;
  background-image: url(https://res.cloudinary.com/dnch08bzc/image/upload/v1556821936/39444439254_9566a41625_b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.text-container {
  width: 555px;
  height: 359px;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 62px;
  font-weight: bold;
  text-align: center;
}
