@import '../../../../assets/stylesheets/index.scss';

#whole-form {
    margin-top: 90px;
}
.input-heading{
    margin-left: 8.3%;
}

.input-row{
    .input-holders {
    margin-left: 8.5%;
  }
  .ui.input {
    width: 45%;
}
.ui.input>input {
    width: 45%;
    border-radius: 0;
  }
  textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    padding: .67857143em 1em;
    height: 124px;
    margin: 0;
    width: 83%;
    border: solid 1px rgba(34,36,38,.15);
    }
}

.editor-group {
    .rdw-editor-wrapper {
        box-sizing: content-box;
        width: 83%;
        height: 500px;
        margin: 0 auto;
        border: 1px rgb(206, 206, 206) solid;
    }
    .rdw-image-modal {
        position: absolute;
        top: 35px;
        left: -200px;
        display: flex;
        flex-direction: column;
        width: 235px;
        border: 1px solid #F1F1F1;
        padding: 15px;
        border-radius: 2px;
        z-index: 100;
        background: white;
        box-shadow: 3px 3px 5px #BFBDBD;
    }
    
    .rdw-editor-main {
        height: 370px;
        overflow: auto;
        padding: .67857143em 1em;
    }
}

.dropdown-group{
    .keyword-instruction {
        margin-left: 8.5%;
        color: rgb(124, 122, 122);
    }
    
    .ui.fluid.dropdown {
        display: block;
        width: 50%;
        margin-left: 8.5%;
        min-width: 0;
    }
}

#header-image {
    border: solid 1px blue;
    height: 50px;
}
.image-group{
    .image-upload {
        margin-left: 8.5%;
        padding: 1% 0 0 2%;
        width: 35%;
        height: 130px;
        border: 1px solid #e7e6e6;
      }
    
       .image-upload p {
        margin: 0;
      }
    
       .image-upload-box {
        background-color: #EBEBEB;
        padding: 0 auto;
        width: 80%;
        height: 50px;
        border: 1px solid #c0bfbf;
    }
    
     .image-upload-box input[type="file"] {
        margin: 14px 16% 0;
    }
}

.text-center {
    .ui.dropdown:not(.button) > .default.text {
        color: rgba(191, 191, 191, 0.87);
        font-size: 100%;
    }
    
     .ui.button{
        margin-left: 1%;
        background-color: $primary-color;
        color: #ffffff;
     } 
     
     .ui.button:nth-child(1){
        margin-left: 9%;
     }
    //  .ui.button:nth-child(1):hover{
    //     background-color:$primary-color; 
    //     color:rgba(255, 255, 255, 0.15); 
    //  }
     .cancel-button {
        background-color:$primary-color; 
        color:rgba(255, 255, 255, 0.15); 
     }
     
    .ui.basic.blue.button {
         color: $primary-color; 
         margin: 1%;
     }
     .ui.button:hover {
        background-color:rgba(255, 255, 255, 0.15); 
        color:$primary-color; 
        border: 0.5px solid $primary-color; 
    }
}

 .style-button, #style-button{
     padding: 1%;
     border: 1px solid rgb(221, 221, 221);
 }
 
  .style-button:hover{
     border: solid 1px $primary-color;
     background-color: #e7e6e6;
 }

@media screen and (max-width: 480px){
.text-center {
    font-size: 19px;
    }
}

@media screen and (max-width: 854px){
    .image-group{
        .image-upload {
            width: 50%;
          }
       }
    }

@media screen and (max-width: 577px){
    .image-group{
        .image-upload {
            width: 65%;
          }
    }
    .editor-group {
        .rdw-editor-main {
            height: 350px;
        }
    }
        .text-center {
        .ui.button{
            margin-left: 2%;
         }
         .ui.button:nth-child(1){
            margin-left: 18%;
         }
         .ui.button:nth-child(3){
            margin-left: 40%;
            margin-top: 20px;
         }
      }
    }

        @media screen and (max-width: 442px){
            .image-upload {
                width: 75%;
              }
              .text-center{
              .ui.button{
                margin-left: 2%;
             }
             .ui.button:nth-child(1){
                margin-left: 18%;
             }
             .ui.button:nth-child(3){
                margin-left: 40%;
                margin-top: 20px;
             }
            }
        }

            @media screen and (max-width: 392px){
                .editor-group{
                    .rdw-editor-main {
                        height: 300px;
                    }
                }
                .image-upload {
                    width: 100%;
                  }
                  .text-center{
                  .ui.button{
                    margin-left: 2%;
                 }
                 .ui.button:nth-child(1){
                    margin-left: 40%;
                 }
                 .ui.button:nth-child(2){
                    margin-top: 20px;
                    margin-left: 38.6%;
                 }
                 .ui.button:nth-child(3){
                    margin-left: 46%;
                    margin-top: 20px;
                 }
                }
            }
                @media screen and (max-width: 213px){
                    #form-whole {
                        margin: 0 auto;
                    }
                    .input-heading{
                        text-align: center;
                        margin-left: 0;
                    }
                    .image-upload {
                        width: 100%;
                      }

                      .editor-group{
                        .rdw-editor-main {
                            height: 300px;
                        }
                      }
                      .input-row{  
                          .ui.input {
                        margin-left: 25%;
                    }
                }

                    .text-center{
                    .ui.fluid.dropdown {
                        margin-left: 25%;
                    }
                      .ui.button{
                        margin-left: 2%;
                     }
                     .ui.button:nth-child(1){
                        margin-left: 40%;
                     }
                     .ui.button:nth-child(2){
                        margin-top: 20px;
                        margin-left: 38.6%;
                     }
                     .ui.button:nth-child(3){
                        margin-left: 46%;
                        margin-top: 20px;
                     }
                }
            }
