.article-card-item{
    .author-name {
        color: black;
        font-weight: 600
    }
    
    .category {
        text-transform: uppercase;
        margin: 0;
        color: #868686;
    } 

}
.ui.items>.item>.image>img {
    height: 169px;
}
.twelve.wide.computer.sixteen.wide.mobile.column {
    height: 69vh;
    overflow: overlay;
}
