.article-card-item{
    .author-name {
        color: black;
        font-weight: 600
    }
    
    .category {
        text-transform: uppercase;
        margin: 0;
        color: #868686;
    } 
}
