@import '../../../assets/stylesheets/index.scss';
.article-card-item{
    .author-name {
        color: black;
        font-weight: 600
    }
    
    .category {
        text-transform: uppercase;
        margin: 0;
        color: #868686;
    } 

    .description:hover {
        color: #4183c4 !important;
        cursor: pointer;
    }

}
.ui.items>.item>.image>img {
    height: 169px;
}
.twelve.wide.computer.sixteen.wide.mobile.column{
    height: 69vh;
    overflow-y:auto;
}

.twelve.wide.computer.sixteen.wide.mobile.column::-webkit-scrollbar-track
{
	background-color: rgb(255, 255, 255);
}

.twelve.wide.computer.sixteen.wide.mobile.column::-webkit-scrollbar-thumb
{
	background-color: rgb(255, 255, 255);
}
.twelve.wide.computer.sixteen.wide.mobile.column:hover::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	background-color: rgb(143, 143, 143);
}
