@import "../../../assets/stylesheets/index.scss";

p {
  font-family: $font-stack;
}
.main-card {
  text-align: left;
  width: 95%;
  margin: 20px auto;
  padding: 10px 20px;
  float: left;
  overflow: auto;
  border: solid 1px $secondary-color;
  border: solid 1px #959595;

  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px #888888;

  .img-section {
    width: 13%;
    height: 76px;
    margin: 0 10px;
    background-color: grey;
    border-radius: 66px;
    float: left;
    text-align: center;
    color: white;

    .initials {
      margin-top: 8px;
      font-size: 41px;
    }
  }

  .highlights {
    width: 50%;
    margin: 0 10px;
    padding: 0 10px;
    float: left;

    .name {
      font-size: 18px;
    }

    p {
      font-size: 12px;
    }
  }

  .button-div {
    width: 15%;
    float: right;
    text-align: right;

    .following {
      background: #fff;
      text-transform: capitalize;
      margin-top: 20px;
      padding: 4px;
      border-radius: 10px;
      width: 104%;
      border: solid 1px $primary-color;
      color: $primary-color;
      font-size: 19px;
    }
  }
}
