
.article-section-hmp {
    .popular-articles-card {
        margin-top: 10px;
    }
    
    .author-name {
        color: black;
        font-weight: 600
    }
    
    .display-article-card {
        margin-top: 10px;
     
    }
    .header-num {
            color: #959595;
            margin: 0 10px;
            line-height: 0.6em;
    }
    .ui.grid {
        margin: 0;
    }
    .ui.small.image{
        width: 250px;
        margin: 0 10px;
    }

    i.far.fa-thumbs-up {
        font-size: 18px;
        cursor: pointer;
    }

    i.far.fa-thumbs-up:hover {
        color: #0E71EB;
        transform: scale(1.1)
    }
}
