.form-wrap {
  height: 86vh;
}

.wrap-cont-login-signup {
  display: flex;
  margin-bottom: 60px;
  height: 55px;
  .signup, .login {
    width: 50%;
    text-align: center;
    cursor: pointer;
    margin: 0;
    border-radius: 0;
    font-weight: 400;
  }
  button.ui.button.login {
    background: #0E71EB;
    color: #fff;
    border-radius: 3px 0 0 0;
    font-size: 20px;
  }
  button.ui.button.signup {
    background: #fff;
    color: #000;
    font-size: 20px;
  }
  button.ui.button.signup:hover {
    background: #FFF;
    color: #0E71EB;
    transition: 0.5s;
  }
}
.form-wrap {
  height: 86vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fcfcfc;
}

.form-cont {
  background: #fff;
  box-shadow: 0 2px 5px #ccc;
  width: 40%;
  border-radius: 3px;
}
form.ui.unstackable.form {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .ui.red.pointing.below.basic.label {
    margin: 0 auto;
  }
  .fields {
    display: flex;
    flex-direction: column !important;
    .ui.input {
      margin: 8px 0;
      height: 50px;
      font-weight: bold;
      font-size: 20px;
    }
  }
  button.ui.button.submit {
    width: 100%;
    background: #0E71EB;
    color: #fff;
    height: 55px;
    box-shadow: 0 4px 4px #00000040;
    font-size: 20px;
  }
  .forgot-password {
    color: #0e71eb;
    font-weight: 600;
    margin-bottom: 2px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
  }
  input:focus {
    border-color: #0e71eb;
  }
}
.hr-bar {
  display: flex;
  align-items: center;
  margin-top: 10px;
  .bar {
    flex: auto;
    border: none;
    height: 1px;
    background-color: #aaa;
  }
  .span-text {
    font-size: 18px;
    padding: 20px 10px;
  }
}
.social-login {
  justify-content: center;
    padding: 12px 0;
    display: flex;
    align-items: center;
    margin-top: -14px;
  i.fab.fa-twitter, i.fab.fa-google, i.fab.fa-facebook-f {
    font-size: 30px;
    background: #55ACEE;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
  }
  i.fab.fa-google {
    background: #fff !important;
    color: #4384F7 !important;
    font-size: 42px !important;
  }
  i.fab.fa-facebook-f {
    background: #1B4A97 !important;
    padding: 8px 16px !important;
  }
}

::placeholder {
  font-size: 20px;
  color: #857e7e !important;
}