 .heroAll{
     text-align: center;
     align-items: center;
 }
 .heroImage {
position: absolute;
width: 100%;
height: 800px;
left: 0px;
right: 0px;
top: 6vw;
filter: brightness(70%);
}
.siteTexts{
 text-align: center;
 position: relative;
 z-index: 999;
 color: white;
 top: 16vw;
}
.siteName{
    font-size: 600%;
    text-align: center;
}
.siteTitle{
    font-size: 24px;
}
.siteTitle:last-child{
    position: absolute;
    font-size: 30px;
    left: 87px;
    right: 50px;
    max-width: 500px;
    
}
@media (max-width: 918px){
    .heroImage{
        top: 8vw;
    }
}

@media (max-width: 800px){
    .heroImage{
        top: 10vw;
    }
}

@media (max-width: 590px){
    .heroImage{
        top: 12vw;
    }
}
