@import "../../../assets/stylesheets/index.scss";

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 15%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .none {
    display: none;
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    outline: none;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
    outline: none;

  }
  
  .modal-header {
    padding: 2px 16px;
    color: #fff;
    text-align: center;
    background: $primary-color;
  }
  
  .modal-body {
    padding: 2px 16px;
    text-align: center;
  }
  
  .modal-body button {
    margin: 10px;
  }

.profile-modal-grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 300px;
}

.profile-modal-grid p{
  font-size: 1rem;
}


.image-container{
    height: 100%;
    width: 100%;
}

.image-container img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: contain;

}
  
  .yes {
    background: var(--primary);
    color: #fff;
    font-size: 1rem;
    font-weight: 900;
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .yes:hover {
    background: greenyellow;
  }
  
  .no {
    background: red;
    color: #fff;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .no:hover {
    background: #043d3a;
  }
  
  #vote-modal .modal-footer {
    padding: 2px 16px;
    color: white;
    background: linear-gradient(
      to right bottom,
      rgba(85, 223, 85, 0.8),
      rgba(8, 196, 33, 0.8)
    );
  }
  
  .vote i {
    font-size: 1rem;
    transition: 0.3s;
  }
  
  .vote i:hover {
    font-size: 1.2rem;
  }
  