@import '../../../../assets/stylesheets/index.scss';

.main-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  float: left;
  overflow: auto;
  border: solid 1px #e4e4e4;
  border-radius: 4px;

  p .title-bio {
    font-family: $font-stack;
  }
  p:first-child {
    font-weight: 600;
    font-size: 20px;
  }
  .image_title_bio {
    display: flex;
    flex-direction: column;
  }
  .user_bio {
    font-size: 14px;
  }

  .itle_text_box {
    width: 63%;
    margin: 0 10px;
    padding: 0 10px;
    float: left;

    .name {
      font-size: 10px;
      margin-top: 10%;
    }

    p {
      font-size: 14px;
      margin-top: 5px;
    }
  }
  .admin_decision_on_request {
    display: flex;
    flex-direction: row;
    float: right;
  }
  .main_button {
    width: 90%;
    margin: 10px auto;

    .btn-accept {
      text-transform: capitalize;
      margin: 0 5px;
      padding: 5px 10px;
      border-radius: 5px;
      border: solid 1px #008000;
      color: #008000;
      font-size: 14px;
      cursor: pointer;
      outline: none;
      background: #ffffff;
    }
    .btn-reject {
      text-transform: capitalize;
      margin: 0 5px;
      padding: 5px 10px;
      border-radius: 5px;
      border: solid 1px #ff0000;
      color: #ff0000;
      font-size: 14px;
      cursor: pointer;
      background: #ffffff;
      outline: none;
    }
    .btn-accept:hover {
      background: #008000;
      color: #ffffff;
      outline: none;
    }
    .btn-reject:hover {
      background: #ff0000;
      color: #ffffff;
      outline: none;
    }
  }
  .profile_image {
    width: 110px;
    height: 110px;
    margin: 13px auto;
    background-color: #808080;
    border-radius: 66px;
    float: left;
    text-align: center;
    color: #ffffff;
  
    .initials {
      margin: 0;
      padding: 25px 0;
      font-size: 41px;
    }
  
    .user_pic {
      width: 100%;
      height: 110px;
      border-radius: 50%;
    }
  }
}

.main-grid {
  display: grid;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 19px;
}
.Reviewers_title {
  text-align: left;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  padding-left: 51px;
}

@media screen and (max-width: 768px) {
  .main-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .main-title  {
    .image_title_bio {
      display: flex;
      flex-direction: column;
    }
    .user_bio {
      font-size: 25px;
      margin-bottom: 15px;
    }
    p:first-child {
      margin-top: -10px;
      font-weight: bold;
    }

    .main_button {
      display: flex;
      width: 100%;
      margin: 10px auto;
    }    
  }

  .admin-content {
    width: 95%;
    margin: 0 auto;
    min-height: 600px;
    text-align: center;
    font-size: 2rem;
  }
  .profile_image {
    width: 124px;
    height: 124px;
    margin: 13px auto;
    background-color: #808080;
    border-radius: 66px;
    float: left;
    text-align: center;
    color: #ffffff;
    .user_pic {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .main-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-left: 35px;
    padding: 10px 20px;
    overflow: auto;
    border: solid 1px $secondary-color;
    border: solid 1px #959595;
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 #888888;
  }
}
@media screen and (max-width: 768px) {
  .main_page_title {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .main-grid {
    display: block;
    p:first-child {
      padding-top: 0;
      font-size: 17px;
    }
  }
  .main-title .image_title_bio {
    display: flex;
    flex-direction: column;
  }
  .main-title .user_bio {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .main-title p:first-child {
    margin-top: -10px;
    font-weight: bold;
  }
  .admin-content {
    width: 95%;
    margin: 0 auto;
    min-height: 600px;
    text-align: center;
    font-size: 2rem;
  }
  .profile_image {
    width: 124px;
    height: 124px;
    margin: 13px auto;
    background-color: #808080;
    border-radius: 66px;
    float: left;
    text-align: center;
    color: #ffffff;
    .user_pic {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .main-title {
    width: 85%;
    
    .main_button {
      display: flex;
      width: 100%;
      margin: 10px auto;
  }
    
  }
  .text {
    font-size: 11px;
  }
}
