.article-section-hmp.cont {
  .twelve.wide.computer.sixteen.wide.mobile.column {
    height: 55vh;
    p.description:hover,
    .art-title:hover,
    .b-art-title:hover {
      color: #4183c4;
    }
  }
  hr.line-brk {
    margin: 40px 0;
    background-color: #86868688;
    height: 0;
  }
  .ui.items.section-2 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .b-cont-wrap {
      width: 50%;
    }
  
    .a-cont-wrap {
      width: 45%;
    }

    .c-cont-wrap {
      width: 25%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }
  
    .c-sectn {
      display: flex;
      flex-direction: column;
      width: 90%;
      align-items: center;
      cursor: pointer;
    }
    .a-sectn {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .a-image {
        width: 100%;
        img {
          width: 100%;
          height: 223px !important;
        }
      }
    }
    .author {
      color: #000;
      font-weight: 600;
      margin: 2px;
    }
    .date-start {
      display: flex;
      .stats {
        margin-left: 15px;
      }
    }
    .description, .date, .stts {
      color: #555454;
      text-transform: capitalize;

    }
    p.description:hover,
    .art-title:hover,
    .b-art-title:hover,
    p.desc-txt:hover {
      color: #4183c4;
    }
    .c-image {
      width: 100%;
      img {
        height: 210px !important;
        width: 100%;
      }
    }
    .b-image {
      float: right;
      width: 40%;
      img {
        width: 100%;
        height: 103px !important;
      }
    }
    .b-sectn {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
  i.far.fa-thumbs-up {
    font-size: 18px;
    cursor: pointer;
  }
  i.far.fa-thumbs-up:hover {
    color: #0E71EB;
    transform: scale(1.1)
  }
  .art-title {
    font-size: 19px;
    font-weight: 600;
    margin: 10px 0;
    text-transform: capitalize;
    color: #000;
  }
  .content.b-content {
    width: 100%;
  }
  .b-art-title {
    font-size: 19px;
    font-weight: 600;
    margin: 10px 0;
    text-transform: capitalize;
    color: #000;
  }
  
  p.desc-txt {
    margin-bottom: 10px;
  }
  
  .ui.container.wrap-A-B {
    width: 75%;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 480px) {
  .article-section-hmp {
    width: 95% !important;
    flex-direction: column;
  }
  .article-section-hmp.cont .ui.items.section-2 {
    flex-direction: column;
    width: 100%;
  }
  .article-section-hmp.cont .ui.container.wrap-A-B {
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
  }
  .a-cont-wrap, .b-cont-wrap, .c-cont-wrap {
    width: 100% !important;
  }
  .article-section-hmp.cont .ui.items.section-2 .c-sectn {
    width: 100% !important;
  }
  .ui.container {
    width: 100%;
  }
  p.date {
    padding: 0 !important;
  }
  p.description, .article-section-hmp.cont p.desc-txt {
    padding-top: 0 !important;
  }
  .article-section-hmp {
    width: 95% !important;
    .article-section-hmp .ui.grid {
      width: 95% !important;
    }
    p.author-name, .extra p {
      padding: 0;
    }
    .ui.items:not(.unstackable)>.item>.image, .ui.items:not(.unstackable)>.item>.image>img {
      width: 100% !important;
      height: auto !important;
    }
    .ui.items:not(.unstackable)>.item {
      margin: 0;
    }
    h3.ui.header.category, h2.custom-center {
      margin-top: 30px;
    }
    .article-section-hmp .header-num {
      font-size: 10px !important;
    }
  }
  .article-section-hmp .header-num {
    display: none;
  }
}
